pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.tmuxb_session
.cpcache/
.clj-kondo
!.clj-kondo/config.edn
!.clj-kondo/app/*
.lsp
*.sqlite
*.sqlite-shm
*.sqlite-wal
extra/
bench/tmp/
bench/results/
.direnv/
prompts/
*.md
