{:paths   ["src"]
 :deps    {andersmurphy/sqlite4clj {:git/url "https://github.com/andersmurphy/sqlite4clj"
                                    :git/sha "45b2ce9a8e2944f7b9aa0af7d69a0e2a9352aff3"}}
 :aliases {:dev  {:extra-deps {criterium/criterium        {:mvn/version "0.4.6"}
                               io.replikativ/superv.async {:mvn/version "0.3.48" :exclusions [org.clojure/clojurescript]}
                               io.replikativ/datahike     {:mvn/version "0.7.1624" :exclusions [org.clojure/clojurescript]}
                               org.replikativ/konserve    {:mvn/version "0.9.346" :exclusions [org.clojure/clojurescript org.clojars.mmb90/cljs-cache]}}
                  :jvm-opts   ["--enable-native-access=ALL-UNNAMED"
                               "-Djdk.attach.allowAttachSelf" ;; https://nrepl.org/nrepl/installation.html#jvmti
                               ]}
           :test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                  :main-opts   ["-m" "kaocha.runner"]}

           :bench {:extra-paths ["bench"]
                   :extra-deps  {datalevin/datalevin {:mvn/version "0.10.7"}
                                 org.replikativ/konserve-jdbc {:mvn/version "0.2.93"}
                                 org.clojars.huahaiy/dtlvnative-linux-x86_64 {:mvn/version "0.18.3"}
                                 org.xerial/sqlite-jdbc {:mvn/version "3.51.3.0"}}
                   :jvm-opts    ["--enable-native-access=ALL-UNNAMED"
                                 "-Xmx2g"]}

           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                    :main-opts  ["-m" "cljfmt.main" "check"]}
           :ffix   {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                    :main-opts  ["-m" "cljfmt.main" "fix"]}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.13"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}
           :neil {:project {:name ol/datahike-sqlite
                            :license {:id "MIT"}
                            :description "SQLite storage backend for Datahike, the open datalog database"
                            :platforms [:clj]
                            :created "2025-04-22"
                            :status :experimental
                            :version "0.0.1"}}}}
