{:paths   ["src"]
 :deps    {org.clojure/clojure     {:mvn/version "1.12.1"}
           andersmurphy/sqlite4clj {:git/url "https://github.com/andersmurphy/sqlite4clj"
                                    :git/sha "37fc2987569b54c85312f1a3ed65823e95d02104"
                                    #_#_:local/root "../sqlite4clj"}}
 :aliases {:dev  {:extra-deps {criterium/criterium        {:mvn/version "0.4.6"}
                               io.replikativ/superv.async {:mvn/version "0.3.48" :exclusions [org.clojure/clojurescript]}
                               io.replikativ/datahike     {:mvn/version "0.6.1601" :exclusions [org.clojure/clojurescript]}
                               io.replikativ/konserve     {:mvn/version "0.8.321" :exclusions [org.clojure/clojurescript org.clojars.mmb90/cljs-cache]}}
                  :jvm-opts   ["--enable-native-access=ALL-UNNAMED"
                               "-Djdk.attach.allowAttachSelf" ;; https://nrepl.org/nrepl/installation.html#jvmti
                               ]}
           :test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                  :main-opts   ["-m" "kaocha.runner"]}

           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                    :main-opts  ["-m" "cljfmt.main" "check"]}
           :ffix   {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                    :main-opts  ["-m" "cljfmt.main" "fix"]}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.10"
                                                         :git/sha "deedd62"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}
           :neil {:project {:name ol/datahike-sqlite
                            :license {:id "MIT"}
                            :description "SQLite storage backend for Datahike, the open datalog database"
                            :version "0.0.1"}}}}
